@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
          --columns: 5;
          --rows: 5;
}

*, *::after , *::after{
          box-sizing: border-box;
          padding: 0;
          margin: 0;

}

body {
          background: no-repeat center url(assets/sketchpadBackgroundComplete.png);
          font-family: 'Poppins', sans-serif;
          height: 100vh;
          z-index: 9999;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: url(assets/pencil-by-piggeh/Pencil\ Normal\ select.cur), auto;
          
}

.container {
          margin-right: 90px;
          z-index: -100;
          position: relative;
}

.sketchpad-wrapper {
          width: 660px;
          margin-top: 10px;
          margin-left: 6px;
          height: 380px;
          border-radius: 16px;
          opacity: 50%;
          display: grid;
          grid-template-columns: repeat(var(--columns), 1fr);
          grid-template-rows: repeat(var(--rows), 1fr);
          overflow: hidden;
          transform: perspective(200px) rotateX(1deg); /* Adjust the value as needed */
}

.grid{
          z-index: -1;
          /* font-size: 17px; */
          /* width: calc(100% / 16);
          overflow: hidden; */
          border: 1px solid rgb(78, 177, 78);
          
}

.controls {
          position: absolute;
          bottom: -115px; 
          left: 188px;
          border-radius: 16px;
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          color: white;
          text-align: center;
          width: 60%;
}

.controls > div {
          margin: 0 1.5rem;
}

.color {
          
          width: 50px;
          border-radius: 16px;
          border: 2px solid black;
}

.colorLabel {
          position: absolute;
          top: -25px;
          text-transform: uppercase;

}

.eraser, .eraser > img {
          background-color: transparent;
          border: none;
          width: 7rem;
}

.gridselect {
          width: 90px;
          font-family: 'Poppins', sans-serif;
}
