*, *::after , *::after{
          box-sizing: border-box;
          padding: 0;
          margin: 0;
}

body {
          background: no-repeat center url(assets/sketchpadBackgroundComplete.png);
          height: 100vh;
          z-index: 9999;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: url(assets/pencil-by-piggeh/Pencil\ Normal\ select.cur), auto;
}

.container {
          /* display: flex;
          justify-content: center;
          align-items: center; */
          margin-right: 90px;
          z-index: -100;
          position: relative;
}

.sketchpad-wrapper {
          background-color: green;
          width: 660px;
          margin-top: 10px;
          margin-left: 20px;
          height: 380px;
          border-radius: 16px;
          /* position: absolute;
          top: 315px;
          left: 730px; */
          opacity: 50%;
          /* z-index: 2; */
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          overflow: hidden;
}

.grid{
          z-index: -1;
          font-size: 17px;
          width: calc(100% / 16);
          overflow: hidden;
          
}

.color {
          position: absolute;
          top: -50px;
          width: 50px;
          border-radius: 16px;
          border: 2px solid black;
}
